asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.6.0
fire==0.7.0
gunicorn==22.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.1
psycopg2-binary==2.9.10
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
PyYAML==6.0.2
rav==0.0.9
rich==13.9.4
setuptools==70.1.1
six==1.16.0
sqlparse==0.5.0
termcolor==2.5.0
tzdata==2024.2
wheel==0.45.0
